<!DOCTYPE html>
<html>
<head>
  <title>Status</title>
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
</head>
<body>

<h2>
  {%if status == 'connected'%}

  {%if raspberry == True%}
  De raspberry pi
  {%elif os_ == 'nt'%}
  Deze windows computer
  {%elif os_ == 'posix'%}
  Deze unix-gebaseerde computer
  {%else%}
  Deze rare apparaat
  {%endif%}

  is verbonden op
  {%if ssid != ''%}
  <bold id="{{raspberry}}">{{ssid}}</bold>
  {%else%}
  het netwerk!
  {%endif%}
  {%else%}
  Nee.. Moet nog verbinden.
  {%endif%}
</h2>
<div class="prompt">
  <p>
    {%if status == 'connected'%}
    {{ip}}
    {%else%}
    Probeer eventueel om op een network te verbinden genaamd "TP-Link" of iets dergelijks
    {%endif%}



  </p>
</div>
</body>

</html>